In [ ]:
import numpy as np
import pandas as pd
from pandas import  DataFrame, Series
import sqlite3 as db 
url ='https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
col_list =['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capaital-gain','capital-loss','hours-per-week','native-country','probability-for-label']
adult= pd.read_csv(url,sep=",",delimiter=",",names=col_list,skipinitialspace=True)
sqladb=adult.copy()

print(sqladb.columns)
import re
sqladb.columns = [re.sub("[-]","_",col) for col in adult.columns]
print(sqladb.columns)
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())
# # # # #question 1
pysqldf("SELECT * FROM sqladb LIMIT 10;")
print("-"*80)
# # # #question 2
pysqldf("SELECT avg(hours_per_week) FROM sqladb WHERE workclass='Private';")
print("-"*80)
# # # #question 3
pysqldf("SELECT education, COUNT(education) AS Frequency  FROM sqladb   GROUP BY education  ORDER BY  COUNT(education) DESC;")
pysqldf("SELECT occupation, COUNT(occupation) AS Frequency  FROM sqladb   GROUP BY occupation  ORDER BY  COUNT(occupation) DESC;")
pysqldf("SELECT relationship, COUNT(relationship) AS Frequency  FROM sqladb   GROUP BY relationship  ORDER BY  COUNT(relationship) DESC;")
# # # #question 4
pysqldf("SELECT * FROM sqladb WHERE matital_status='Married' AND workclass='Private' AND education='Masters';")
print("-"*80)
# # # #question 5
pysqldf("SELECT avg(age) as avg_age,min(age) as max_age,max(age) as max_age FROM sqladb GROUP BY workclass;")
print("-"*80)
# # # #question 6
pysqldf("SELECT age, count(*) as num FROM sqladb GROUP BY country;")
print("-"*80)
# # # #question 7
pysqldf("SELECT capital_gain-capital_loss as Net-Capital-Gain FROM sqladb;")
print("-"*80)
print("End of assignment")

#"INSPITE OF PROGRAM being all right and robust I'm still getting an error and unable to get the desired ouput. "